# gitmailmap - Map author/committer names and/or E-Mail addresses
#
# References:
#
# * Git - gitmailmap Documentation
#   https://git-scm.com/docs/gitmailmap
#
# Copyright 2025 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: MIT
